*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul, ol, menu{
    list-style: none;
    
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    padding: 0;
    margin: 0;
    
}
/* LAYOUT */
.order__col{
    order: 2;
}

.logo__mobile{
    
    width: 90px;
    padding: 12px;
   
}
.logo__desktop{
    width: 190px;
    padding: 20px;
    
}
.sidebar{
    width: 90px;
    color: white;
    background: rgb(18,41,63);
    background: linear-gradient(52deg, rgba(18,41,63,1) 75%, rgba(5,30,52,1) 75%);
}
.app__toolbar{
    height: 70px;
}

.app__body{
    height: 0;
}
.main__content{
    overflow: scroll;
}

.searchbar__input{
    position: relative;
    left: 25px;
    top: 2px;
    pointer-events: none;
}
.nav__input{
    max-width: 100%;
    border-radius: 10px;
    background-color: #dedede;
    border: none;
    height: 42px;
    padding-left: 32px;
}




.sidebar nav,
.sidebar nav > ul{
    display: contents;
}
.list__aside li > a{
    margin-left: 0;
    color: white;
}

 .card__class{
   margin-bottom: 18px;
} 

.coding{
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #F26551;
    padding: 4px;
    color: white;
}
.todo__list{
    padding: 18px;
}
.card__todo{
   margin-bottom: 18px;

}
.student{
    background-color: #0D6EFD;
   
}
.badge__student{
    background-color: #08439b;
}

#offcanvasExample{
    width: 100%;
}
/* STYLE */


label{
    padding: 8px;
}




/* MEDIA-QUERY */

@media screen and (min-width: 992px) {
  
   .sidebar{
    width: 150px;
   }

}

 
 






/* DEBUG */
#app, .app__body > *{
    /* border: 1px solid black; */
}
.main__content > *{
    /* border: 1px solid blue; */
}